---
http_interactions:
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest?api_key=vzWXZ1LY8rzmCJqQS1HyA6sbz4zWChYYjTcxbT2H&location=80203
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '998'
      Last-Modified:
      - Wed, 16 May 2018 16:02:10 GMT
    body:
      encoding: ASCII-8BIT
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <response>
        <latitude>39.731179</latitude>
        <longitude>-104.982637</longitude><precision><value type="integer">5</value><name>postal_code</name><types type="array"><type>postal_code</type></types></precision>
        <station-locator-url>http://www.afdc.energy.gov/afdc/locator/stations/</station-locator-url>
        <total-results>86</total-results><station-counts><total>225</total><fuels><BD><total>0</total></BD><E85><total>3</total></E85><ELEC><total>215</total><stations><total>76</total></stations></ELEC><HY><total>0</total></HY><LNG><total>0</total></LNG><CNG><total>1</total></CNG><LPG><total>6</total></LPG></fuels></station-counts>
        <offset>0</offset>
        <fuel-stations type="array">
        <fuel-station><access-code>public</access-code><access-days-time>24 hours daily</access-days-time><access-detail-code nil="true"/><cards-accepted nil="true"/><date-last-confirmed>2018-05-16</date-last-confirmed><expected-date nil="true"/><fuel-type-code>ELEC</fuel-type-code><groups-with-access-code>Public</groups-with-access-code><id>66897</id><open-date nil="true"/><owner-type-code nil="true"/><status-code>E</status-code><station-name>UDR</station-name><station-phone>888-758-4389</station-phone><updated-at>2018-05-16 08:51:19 UTC</updated-at><geocode-status>GPS</geocode-status><latitude>39.7300224</latitude><longitude>-104.9883424</longitude><city>Denver</city><intersection-directions>816 ACOMA 1; For residents only - 5th Floor</intersection-directions><plus4 nil="true"/><state>CO</state><street-address>800 Acoma St</street-address><zip>80204</zip><country>US</country><bd-blends nil="true"/><e85-blender-pump nil="true"/><ev-connector-types><ev-connector-type>J1772</ev-connector-type></ev-connector-types><ev-dc-fast-num nil="true"/><ev-level1-evse-num nil="true"/><ev-level2-evse-num>2</ev-level2-evse-num><ev-network>ChargePoint Network</ev-network><ev-network-web>http://www.chargepoint.com/</ev-network-web><ev-other-evse nil="true"/><hy-is-retail nil="true"/><hy-status-link nil="true"/><lpg-primary nil="true"/><ng-fill-type-code nil="true"/><ng-psi nil="true"/><ng-vehicle-class nil="true"/><ev-network-ids><posts><post>1:118249</post></posts></ev-network-ids><distance>0.31422</distance><distance-km>0.50569</distance-km></fuel-station>
        <fuel-station><access-code>public</access-code><access-days-time>24 hours daily</access-days-time><access-detail-code nil="true"/><cards-accepted nil="true"/><date-last-confirmed>2018-05-16</date-last-confirmed><expected-date nil="true"/><fuel-type-code>ELEC</fuel-type-code><groups-with-access-code>Public</groups-with-access-code><id>85932</id><open-date nil="true"/><owner-type-code nil="true"/><status-code>E</status-code><station-name>PUBLIC STATIONS[...]
